name: Daily Keyword Search

on:
  schedule:
    # Chạy vào 00:00 UTC hàng ngày (tức 7:00 sáng VN)
    - cron: '0 0 * * *'
  # Cho phép bấm nút chạy thủ công để test
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Search Script
      env:
        GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
        GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
        SEARCH_ENGINE_ID: ${{ secrets.SEARCH_ENGINE_ID }}
      run: python main.py
