name: Daily Keyword Search

on:
  schedule:
    # 00:05 UTC = 07:05 sáng giờ Việt Nam
    - cron: '5 0 * * *'
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Search Script
      env:
        GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
        SERPER_API_KEY: ${{ secrets.SERPER_API_KEY }}
      run: python main.py
